

.listitem1{
   

    background: none;
   
}

.listitem2{
    background-color: rgb(227, 227, 252);

    
}

.TanContainer{
    padding: 20px;
    margin: 10px;
    border: 2px solid rgb(253, 253, 251);
    width:95%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(211, 200, 200);
   
    cursor: pointer;
}

.Prüfungswerwaltung{
    padding: 10px 20px 5px 10px;
    margin: 10px;
    border: 2px solid rgb(253, 253, 251);
    width:45%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(211, 200, 200);
   
    cursor: pointer;
}


.NotenSpiegel{
    padding: 10px 20px 20px 10px;
    margin: 10px;
    border: 2px solid rgb(253, 253, 251);
    width:35%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(211, 200, 200);
   
    cursor: pointer;
}
.Benachrichtigung{
    padding: 10px 20px 20px 10px;
    margin: 10px;
    border: 2px solid rgb(253, 253, 251);
    width:20%;

    box-shadow: 5px 5px 5px 5px rgb(211, 200, 200);
   text-align: center;
    cursor: pointer; 
  
}

.Rückmeldefunktion{
    padding: 10px 20px 20px 10px;
    margin: 10px;
    border: 2px solid rgb(253, 253, 251);
    width:60%;
   
    box-shadow: 5px 5px 5px 5px rgb(211, 200, 200);
}

